<div class="content" role="main">

<h1>{{title}}</h1>
<div>
  <input type="text" class="searchInput" placeholder="Search tasks" [(ngModel)]="taskSearch"/>&nbsp;
  <button class="btnSearch" (click)="searchTask()">Search</button>
</div>
<br />
<table>
  <tr>
    <th>Status</th>
    <th> </th>
    <th>Tasks</th>
  </tr>
  <tr *ngFor="let t of taskArray">
    <td [hidden]="!t.completed"><button class="btnCompleted" *ngIf="t.completed" (click)="t.completed = !completeTask()">Complete</button></td>
    <td [hidden]="t.completed"><button class="btnNotCompleted" *ngIf="!t.completed" (click)="t.completed = completeTask()">Pending...</button></td>
    <td>{{t.taskId}}.</td>
    <td [hidden]="t.completed">{{t.task}}</td>
    <td [hidden]="!t.completed" class="completed">{{t.task}}</td>
    <td [hidden]="t.editing"><button class="btnEdit" *ngIf="!t.editing" (click)="t.editing = editingTask()">Edit</button></td>
    <td [hidden]="!t.editing"><input type="text" class="editInput" placeholder="Edit task" [(ngModel)]="taskEdit"/></td>
    <td [hidden]="!t.editing"><button class="btnEditSubmit" *ngIf="t.editing" (click)="editTask(t);t.editing = !editingTask()">Submit</button>&nbsp;</td>
    <td [hidden]="!t.editing"><button class="btnEditCancel" *ngIf="t.editing" (click)="t.editing = cancelEditTask()">Cancel</button>&nbsp;</td>
    <td><button class="btnDelete" (click)="removeTask(taskArray.indexOf(t))">x</button></td>
  </tr>
</table>
<br />
<div *ngIf="remainingTasks() > 0">
    {{remainingTasks()}} items left
</div>
<div *ngIf="remainingTasks() == 0">
  <strong>CONGRATULATIONS!</strong>
</div>
<table>
  <tr>
    <td><button class="btnAdd" (click)="addTask()">Add</button>&nbsp;</td>
    <td><input type="text" class="addInput" placeholder="Add task" [(ngModel)]="task"/></td>
  </tr>
</table>
<br />
<div *ngIf="atLeastOneCompleted()">
  <button class="btnClearComp" (click)="clearCompleted()">Clear Completed</button>
</div>

</div> 